
.navbar{
    font-family: 'Akaya Telivigala', cursive;
    color: white;
}

.navbar-brand{
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 15px;   
}

.navbar-toggler{
    background-color: white; 
}

.nav-item{
    font-size: x-large;
}

.navbar-nav{
    align: right;
}


#config1{
    height: 500px;
    padding-top: 200px;
    text-align: center;
    font-family: 'Syne Mono', monospace;
    color: white;
}