/* font-family: 'Roboto Slab', serif;
font-family: 'Montserrat', sans-serif; */

.navbar {
    font-family: 'Akaya Telivigala', cursive;
    color: white;
}

.navbar-brand {
    font-size: xx-large;
    font-weight: bolder;
    color: white!important;
}

#navbarText {
    font-family: 'Montserrat', sans-serif;
}

.navbar-toggler {
    background-color: white;
}

.nav-item {
    font-size: large;
}


::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: #142850;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #27496d;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background-color: #00909e;
}

.navbar-collapse {}

#config0{
    background: -webkit-linear-gradient(to right, #141e30, #243b55)!important;
    background-image: linear-gradient(to right, #141e30, #243b55)!important;
    
}

#config1 {
    height: 100%;
    padding-top: 210px;
    padding-bottom: 290px;
    text-align: center;
    font-family: 'Syne Mono', monospace;
    color: white;
}

#particles-js{
    background-image: url("/images/AzureSpace.png"); 
}

/* .sticky {
    position: fixed;
    width: 100%;
    margin-left: -15px;
    background: -webkit-linear-gradient(to right, #141e30, #243b55);
    background-image: linear-gradient(to right, #141e30, #243b55);
} */

#config2 {
    background-color: white;
    height: 500px;
    padding: 0px 25px;
    text-align: center;
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.myimgself{
    width: 200px;
    height: 200px;
    border: 3px solid #141e30;
    padding: 2px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

.myimgself:hover{
    border: 0px solid #141e30;
}

@media only screen and (max-width: 600px) {
    #navbarText {
        position: absolute;
        margin-top: 240px;
        width: 150px;
        background-color: #141e30;
        padding: 5px 15px;
        border-radius: 15px;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
    }
    .myimgself{
        width: 100px;
        height: 100px;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
}

}

@media only screen and (min-width: 800px) {
    #config2 {
        padding: 0px 50px;
        font-size: large;
        word-spacing: 10px;
    }
   
}